a {
  text-decoration: none;
  color: black;
}

.item {
  padding-left: 10px;
  padding-right: 10px;
  width: 63rem;
}

.item:hover {
  background: gray;
}

#search {
  max-height: 20rem;
  width: 65rem;
  z-index: 1;
}
