<div class="row" *ngIf="allowAdding">
  <app-location-search (searchResultSelected)="addLocationFromSearch($event)">
  </app-location-search>
</div>
<div class="row">
  <app-tag-container
    [items]="tagItems"
    (itemsChange)="onTagItemsChange($event)"
    [allowRemoving]="allowRemoving"
    [allowSelecting]="true"
  ></app-tag-container>
</div>
<div class="row mt-3" *ngIf="allowAdding">
  <p>If you can't find your location by name, add it here:</p>
  <input
    id="name"
    type="text"
    class="form-control"
    [formControl]="newLocationName"
    placeholder="Enter the name of the location"
  />
  <div
    class="alert alert-primary"
    role="alert"
    *ngIf="waitingToPickPositionOnMap"
  >
    Click on the map for where this location is.
  </div>
</div>
<div class="row mt-3">
  <app-location-map
    (map$)="receiveMap($event)"
    (clicked)="onMapClick($event)"
    [markedLocations]="unselectedLocations"
    [specialMarkedLocations]="selectedLocations"
  ></app-location-map>
</div>
